src/main/mule/project-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="367e66b9-e365-47f3-8b00-e360031c3140" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="project-cicdFlow" doc:id="74df5a96-7bcb-4d33-8098-71dd48bc81f4" >
		<http:listener doc:name="Listener" doc:id="9dab5146-76d9-47b5-bad8-1ae70c3de413" config-ref="HTTP_Listener_config" path="/git-test">
			<http:response >
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
			</http:response>
		</http:listener>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"name": "Prabhakar"&#10;}]' doc:name="Set Payload" doc:id="526af1c2-3b10-4b7f-aa64-c0edbccb9f80" />
		<logger level="INFO" doc:name="Logger" doc:id="0140a8c4-f536-470e-9e2f-a7de154d116f" message="#[payload]"/>
	</flow>
</mule>
